.detItems{
    display: flex;
    justify-content: space-around;
    width: 95%;
    gap: 40px;
    margin:50px auto;
}
.detailCat{
  width: 700px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.items{
    width: 260px;
}
.item{
  text-align: center;
}
.h{
    margin: 40px;
}
.itemImg{
    width: 100%;
}
.recDetImg{
    width: 650px;
    height: 450px;
}
.rText{
    font-weight: bold;
    font-size: 16px;
}
.addRec{
    width: 175px;
    height: 40px;
    padding: 15px;
    text-align: center;
    background-color: #F4A900;
    font-size: 16px;
    margin: 100px auto;
    color: white;
    cursor: pointer;
    border-radius: 20px;

}